<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airlines</title>
</head>
<style>

    #home {

        text-align: center;
        color: bisque;
    }
</style>

<body style="background-color:rgb(142, 173, 142) ;">
    <h1 id="home">Eccles Airlines Limited</h1>
    <p style="text-align:center ;">Welcome to the Eccles Airelies we offer best flights booking experience. We will 
        make sure to have the best value of money and comfortness.
    </p>

    <a href="flight_search.html">Book a Flight</a>
</body>

</html>